<div class="row" style="margin-top: 10px; padding: 10px;">
  <div class="col-6"  style="padding: 5px;" *ngFor="let colum of tarjetas">
    <div class="card" style="width: 21.25rem; height: 11.8rem; background-color: #24386e; print-color-adjust: exact; -webkit-print-color-adjust:exact;">
      <div class="card-body">
        <table class="table-responsive">
          <tr>
            <td style="text-align:center">
              <ngx-qrcode
                [elementType]="tipoQR"
                [value]="obtenervalor(colum.IdQR,colum.N)"
                [width]="155"
                [margin]="0"
                [colorDark]="'#FFFFFF'"
                [colorLight]="'#24386e'"
                cssClass="aclass"></ngx-qrcode>
            </td>
            <td style=" text-align:center; width: 1000px; color: #FFFFFF;">
              <img width="100" height="110" src="../../assets/img/EscudoBlanco.png" />
              <br>
              <h3>{{[colum.IdOrden]}}</h3>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-12"  *ngIf="bandera==1">
<br>
    </div>
  </div>
</div>

<!--<div class="row" style="margin-top: 10px; padding: 10px;">
  <div class="col-6"  style="padding: 5px;" *ngFor="let colum of tarjetas">
    <div class="card" style="width: 21.25rem; height: 11.8rem; background-color: #24386e; print-color-adjust: exact; -webkit-print-color-adjust:exact;">
      <img width="345" height="190" src="../../assets/img/Tarjeta AT.png" />
    </div>
    <div class="col-12" *ngIf="(colum.N%10)==0">
<br>
    </div>
  </div>
</div>-->